<div class="artwork-header">
  <h1>_ARCHITEKT</h1>
</div>
<div class="artwork-container">
  <img class='artwork-photo' src="https://loremflickr.com/310/215/art">
  <div class="artwork-details">
    <div class ="artwork-author">By: {{arts.author}}</div>
    <a class = "artwork-link" href="/arts/{{id}}">http://localhost:8080/arts/{{arts.id}}</a>
    <div class = "artwork-description">{{arts.description}}</div>
  </div>
</div>
<div class="artwork-action-container">
  <form action="/arts/{{arts.id}}/edit" method="GET" enctype="application/x-www-form-urlencoded">
    <input class="edit-item-button" type="submit" value="edit item">
  </form>
  <form action="/arts/{{arts.id}}" method="POST" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="_method" value="DELETE">
    <input class="delete-item-button" type="submit" value="delete item">
  </form>
</div>