<div>hii</div>
<div class="container">
  <form action="/arts/new">
  <input type="submit" value="add an artwork">
  </form>
{{#each arts}}
<form action="/arts/{{id}}">
<input type="submit" value="{{id}}">
</form>

<h5>Author: {{author}}</h5>
<p>Link: {{link}}</p>
<p>Description {{descripton}}</p>
{{/each}}
</div>