<div class="arts-home-header-container">
  <div class="arts-home-header-title">
    _ARCHITEKT
  </div>
</div>
<div class="arts-home-second-header-container">
  <form class = "new-art-form"action="/arts/new">
    <input type="submit" value="Add An Artwork" class="add-artwork-button">
  </form>
  <form class="logout-form" action="/logout">
  <input type="submit" value="Logout" class = "logout-button">
  </form>
</div>

<div class="arts-entries-container"> 
    {{#each arts}}
    <div class="arts-entry">
    <div class="image" style="background-image: url({{link}})"></div>
    <div class='arts-entry-details'>  
      <a class = "author" href="/users/{{author_id}}">{{author}}</a>
      <a href="/arts/{{id}}">http://localhost:8080/arts/{{id}}</a>
      <p class="description">Description:{{description}}</p>
    </div>
    </div>
    {{/each}}  
</div>